table {
    width: 100%;      

    background: var(--white-700);
    padding: 30px;

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
        
    font-weight: 300;

    thead {
        text-align: left;
        font-size: 1rem;

        th {
            border-bottom: 1px solid var(--gray-100);
            padding-bottom: 10px;

            font-weight: 400;
            color: var(--blue-300);
        }
    }

    tbody {
        font-size: 0.852rem;

        tr {
            td {
                padding: 10px;
                border-bottom: 1px solid var(--gray-100);
                    
                &.categorys-name {
                    width: 50%;
                }

                &.categorys-description {
                    width: 40%;
                }
                    
                &.actions-icons {

                    display: flex;
                    justify-content: space-between;

    
                    a {
                        fa-icon {
                            color: var(--gray-100);
                        }
                            
            
                        &:hover {

                            fa-icon {
                                filter: brightness(0.5);

                                 &.delete-icon {
                                    color: #C05C5C;
                                    filter: brightness(0.9);
                                }
                            }
                        }
                    }
                }
            }

            &:hover {
                background: #fafafa;

                td{
                    &.categorys-name {
                        color: var(--blue-300);
                    }

                }                    
            }

        }   
            
    }
}
