<table>
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Descrição</th>
            <th></th>
            <th></th>
        </tr>                
    </thead>
    <tbody>            
        <tr *ngFor="let category of categorys">
            <td class="categorys-name">{{category.name}}</td>                    
            <td class="categorys-description">{{category.description}}</td>                    
            <td ><a routerLink="/categorys/createProducts/{{category.id}}">add</a></td>                    
            <td class="actions-icons">
                <a routerLink='/categorys/update/{{category.id}}'>
                    <fa-icon [icon]="faEdit"></fa-icon>     
                </a>
                <a routerLink='/categorys/delete/{{category.id}}'>
                    <fa-icon [icon]="faTrash" class="delete-icon"></fa-icon>     
                </a>                    
            </td>
        </tr>
           
    </tbody>
</table>
