<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Preço (R$)</th>
            <th></th>
        </tr>                
    </thead>
    <tbody>            
        <tr *ngFor="let product of products">  
            <td class="products-name">
                {{product.name}}
            </td>                    
            <td class="products-category">
                {{product.category}}
            </td>                    
            <td class="products-price">
                R$ {{product.price}}
            </td>                    
            <td class="actions-icons">
                <a routerLink='/products/update/{{product.id}}'>
                    <fa-icon [icon]="faEdit"></fa-icon>     
                </a>
                <a routerLink='/products/delete/{{product.id}}'>
                    <fa-icon [icon]="faTrash" class="delete-icon"></fa-icon>     
                </a>  
                <a routerLink='/products/showProducts/{{product.id}}'>
                    <fa-icon [icon]="faEye" ></fa-icon>     
                </a>                  
            </td>
        </tr>           
    </tbody>
</table>